.urlContainer {
  display: flex;
  gap: 2rem;
  padding: 1rem;
}

.input {
  width: 100%;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
}

.input::placeholder {
  font-size: 1.5rem;
}

.submit {
  background-color: #0069ff;
  border: none;
  outline: none;
  padding: 0 2.5rem;
  border-radius: 1rem;
  color: #fff;
}

.loader {
  position: absolute;
  inset: 0;
  z-index: 99;
  background-color: #00000098;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  animation: rotate 1s linear 0s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem 1rem;
  padding: 1rem;
  width: 100%;
}

.box {
  width: 100%;
  background-color: #fff;
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;
}

.gridTitle {
  font-size: 1.2rem;
}

.gridValue {
  font-size: 2rem;
}

.progress {
  width: 10rem;
  aspect-ratio: 1;
  margin: 2rem 0;
}
